@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* INDEX.HTML */

.header__advertisement{
    @apply flex flex-col items-center space-y-10 text-center;
}

.header__subscription-form{
    @apply w-full;
}

.header__input-field{
    @apply  w-1/2 py-6 px-14 rounded-[1.25rem];
}

.dashboard{
    @apply  px-[4%] pt-12 pb-20 flex items-center justify-center;
}

.dashboard__image{
    @apply w-[70%];
}

.solutions{
    @apply px-[4%] flex flex-col items-center text-center gap-4;
}

.solutions__label{
    @apply text-2xl font-bold;
    background: linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.solutions__title{
    @apply font-bold;
}

.solutions__title--big{
    @apply text-5xl leading-[120%];
}

.solutions__title--medium{
    @apply text-[32px] leading-[120%];
}

.solutions__banner{
    @apply grid w-full grid-cols-1 gap-4 px-10 py-10 mt-8 text-left md:grid-cols-3 rounded-3xl;
}

.solutions__security, .solutions__performance, .solutions__support{
    @apply flex flex-col space-y-4;
}

.solutions__description{
    @apply text-base;
}

.solutons__banner--primary{
    @apply bg-lightviolet;
}

.reasons{
    @apply p-[4%] grid grid-cols-1 md:grid-cols-2 gap-4;
}

.reasons__principal{
    @apply space-y-4;
}

.reasons__label{
    @apply text-[20px];
}

.reasons__label--highlighted{
    @apply text-2xl font-bold;
    background: linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reasons__title{
    @apply text-5xl font-bold;
}

.reasons__tag{
    @apply text-base;
}

.reasons__label{
    @apply text-[20px] leading-[150%];
}

.reasons__description{
    @apply flex items-center gap-x-3;
}

.conversions{
    @apply p-[4%] grid grid-cols-1 md:grid-cols-2 gap-4 py-10;
}

.conversions--primary{
    @apply bg-gradient-to-r from-green-100 via-blue-100;
}

.conversions__principal{
    @apply flex flex-col items-start justify-center space-y-4;;
}

.conversions__title{
    @apply text-5xl font-bold;
}

.conversions__description{
   @apply text-base;
}

.conversions__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

.logos{
    @apply px-[4%] flex justify-between flex-wrap py-10;;
}

.sales{
    @apply px-[4%] py-20 grid grid-cols-1 md:grid-cols-2 gap-4;
}

.sales__content{
    @apply space-y-4;
}


.sales__list{
    @apply flex flex-col items-center justify-center space-y-10;
}

.sales__item{
    @apply flex items-center gap-[0.75rem];
}

.sales__headline{
    @apply text-2xl font-bold;
}

.features{
    @apply p-[4%] space-y-10;
}

.features__title{
    @apply font-bold;
}

.features__title--centered{
    @apply text-center;
}

.features__title--big{
    @apply text-5xl;
}

.features__title--medium{
    @apply text-2xl;
}


.features__list{
    @apply grid w-full grid-cols-1 gap-4 px-10 py-10 text-left md:grid-cols-3 rounded-3xl;
    background: rgba(215, 152, 225, 0.15);
}

.features__item{
    @apply space-y-4;
}

.features__icon{
    @apply w-10 h-10;
}

.testimonials{
    @apply px-[4%] py-20;
}

.testimonials__title{
    @apply mb-8 text-5xl font-bold text-center;
}

.testimonials__cards{
    @apply grid grid-cols-1 gap-4 md:grid-cols-3;
}

.testimonials__card{
    @apply flex flex-col px-8 py-8 space-y-3 border border-gray-300 shadow-lg rounded-3xl;
}

.testimonials__description{
    @apply text-base text-center;
}

.testimonials__wrapper{
    @apply flex items-center justify-center w-full;
}

.testimonials__avatar{
    @apply w-1/5;
}

.testimonials__name, .testimonials__job-title{
    @apply text-center;
}

.footer{
    @apply p-[4%] bg-primary text-gray-400;
}

.footer__links{
    @apply grid grid-cols-1 md:grid-cols-4;
}

.footer__title{
    @apply mb-2 text-white;
}

.footer__list{
    @apply space-y-3;
}

.footer__subscribe{
    @apply flex flex-col space-y-10;
}

.footer__logo{
    @apply w-1/3;
}

.footer__label{
    @apply text-gray-50;
}

.footer__socials{
    @apply flex items-center justify-center py-10 gap-x-10;
}

.footer__line{
    @apply w-full h-1 bg-footer;
}

.footer__icons{
    @apply flex justify-between w-full;
}

.footer__social{
    @apply w-4 h-4;
}


/* PRICING.HTML */
.nav{
    @apply px-[4%] py-1 flex items-center justify-between flex-wrap;
}

.nav__list{
    @apply flex items-center gap-x-4;
}

.nav__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

/* HEADER */
.header{
    @apply px-[4%] pt-20 pb-10;
    background-image: radial-gradient(rgb(222, 242, 251), rgb(235, 255, 250), white, white);
}

.header__content{
    @apply flex flex-col items-center space-y-10 text-center;
}

.header__title{
    @apply font-bold text-title leading-[110%];
}

.header__toggled-btns{
    @apply px-1 py-1 rounded-xl bg-lightviolet;
}

.header__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

.header__btn--inner{
    @apply -ml-40;
}

.header__btn--toggle{
    @apply text-primary bg-lightviolet;
}

/* PLANS */
.plans{
    @apply px-[4%] pb-4 grid grid-cols-3 gap-x-12;
    background-image: radial-gradient(rgb(222, 242, 251), white, white, white, white, white, white, rgb(235, 255, 250));
}

.price-card{
    @apply flex flex-col py-8 space-y-3 border border-gray-300 shadow-lg rounded-3xl;
}

.price-card--secondary{
    @apply border-2 border-violet-800 bg-gradient-to-t from-green-100 via-green-50 to-violet-50;
}

.price-card__header{
    @apply flex items-center px-8 py-4 gap-x-4;
}

.price-card__plan-name{
    @apply text-4xl font-bold;
}

.price-card__plan-description{
    @apply text-sm;
}

.price-card__divider{
    @apply w-full h-0.5 bg-gray-100;
}

.price-card__list, .price-card__description, .price-card__price-tag, .price-card__btn-container{
    @apply  px-8;
}

.price-card__list{
    @apply py-4 space-y-6 font-semibold;
}

.price-card__list-item{
    @apply flex items-center gap-x-2;
}

.price-card__description{
    @apply text-sm text-center;
}

.price-card__price-tag{
    @apply py-4 text-center;
}

.price-card__price{
    @apply text-4xl font-bold;
}

.price-card__period{
    @apply text-xs;
}

.price-card__btn-container{
    @apply flex items-center justify-center py-4;
}

.price-card__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

/* FAQs */

.questions{
    @apply px-[4%] py-32;
}

.faq{
    @apply bg-[#F0F2FE] p-[3%] grid md:grid-cols-2 rounded-3xl;
}

.faq-card{
    @apply px-8 py-8 bg-white rounded-3xl;
}

.faq-card__business, .faq-card__subscription, .faq-card__support, .faq-card__credit-card{
    @apply flex items-center justify-between ;
}

.faq__title{
    @apply leading-[120%] font-semibold text-5xl;
}

.faq__header{
    @apply space-y-4;
}

.faq__description{
    @apply text-base;
}

.faq__list{
    @apply space-y-4;
}

.faq-card__subtitle{
    @apply leading-[140%] text-2xl font-bold;
}

/* CTA */
.cta{
    @apply px-[4%] py-32 space-y-5 text-center bg-gradient-to-t from-green-100 via-blue-100 to-gray-50;
}

.cta__subtitle{
    @apply text-5xl font-bold;
}

.cta__description{
    @apply text-base;
}

.cta__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

/* CONTACT.HTML */

.contact{
    @apply px-[4%] py-32 space-y-5 bg-gradient-to-r from-green-50 via-blue-100;
}

.contact__title{
    @apply font-bold;
}

.contact__title--centered{
    @apply text-center;
}

.contact__title--big{
    @apply leading-[140%] text-[56px];
}

.contact__title--medium{
    @apply leading-[120%] text-[36px]
}

.contact__card{
    @apply bg-[#F0F2FE] p-[3%] rounded-3xl;
}

.contact__details{
    @apply grid md:grid-cols-2 md:gap-x-20;
}

.contact__header{
    @apply mb-10 space-y-4;
}

.contact__fillable{
    @apply space-y-2;
}

.contact__form{
    @apply space-y-6;
}

.contact__names-field{
    @apply flex w-full space-x-4;
}

.contact__input-field, .contact__textarea{
    @apply w-full p-4 rounded-lg;
}

.contact__btn{
    @apply w-full px-10 py-4 text-white bg-primary rounded-xl;
}

.contact__info{
    @apply flex flex-col px-32 space-y-6;
}

.contact__free, .contact__help, .contact__sales{
    @apply flex items-center space-x-6;
}

.contact__phone-number, .contact__email{
    @apply text-2xl font-bold leading-[140%];
}

.contact__label{
    @apply text-base;
}

