@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css */
.spacing {
    @apply px-[4%];
}

.btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

.btn--light{
    @apply bg-white text-primary;
}

.btn--toggle{
    @apply text-primary bg-lightviolet;
}

.btn--inner{
    @apply -ml-40;
}

.solutions{
    @apply px-[4%] flex flex-col items-center text-center gap-4;
}

.label{
    @apply text-2xl font-bold;
    background: linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle{
    @apply text-5xl font-bold;
}

.subtitle--medium{
    @apply text-4xl;
}


.subtitle--centered{
    @apply text-center;
}

.banner{
    @apply grid w-full grid-cols-1 gap-4 px-10 py-10 text-left md:grid-cols-3 rounded-3xl;
}

.banner--light-violet{
    @apply bg-lightviolet;
}

.banner--light-pink{
    background: rgba(215, 152, 225, 0.15);
}


.banner-security{
    @apply flex flex-col space-y-4;
}

.banner-performance{
    @apply flex flex-col space-y-4;
}

.banner-support{
    @apply flex flex-col space-y-4;
}

.banner__title{
    @apply text-2xl font-bold;

}

.banner__description{
    @apply text-base;
}

.two-columned-section{
    @apply p-[4%] grid grid-cols-1 md:grid-cols-2 gap-4;
}

.single-columned-section{
    @apply p-[4%];
}

.single-columned-section--centered{
    @apply space-y-5 text-center;
}

.y-padded-md{
    @apply py-10;
}

.y-padded-lg{
    @apply py-32;
}

.y-padded-lg-top{
    @apply pt-32;
}

.y-padded-sm{
    @apply py-4;
}

.two-columned-section--violet-fill-to-r{
    @apply bg-gradient-to-r from-green-100 via-blue-100;
}

.two-columned-section--violet-fill-to-l{
    @apply bg-gradient-to-l from-green-100 via-blue-100;
}

.single-columned-section--violet-fill{
    @apply bg-gradient-to-t from-green-100 via-blue-100;
}

.principal{
    @apply space-y-4;
}

.principal--y-centered{
    @apply flex flex-col items-start justify-center;
}

.secondary{
    @apply flex flex-col items-center justify-center gap-8;
}

.arrowed-content{
    @apply flex items-center gap-x-3;
}

.logos{
    @apply px-[4%] flex justify-between flex-wrap;
}

.card-system{
    @apply grid grid-cols-1 gap-4 md:grid-cols-3;
}

.card{
    @apply flex flex-col px-8 py-8 space-y-3 border border-gray-300 shadow-lg rounded-3xl;
}

.footer{
    @apply p-[4%] bg-primary text-gray-400;
}

.footer-title{
    @apply mb-2 text-white;
}

.footer-links{
    @apply grid grid-cols-1 md:grid-cols-4;
}

.y-spaced-links{
    @apply space-y-2;
}

.footer-socials{
    @apply flex items-center justify-center py-10 gap-x-10;
}

.line{
    @apply w-full h-1 bg-footer;
}

.footer-icons{
    @apply flex justify-between w-full;
}

.footer-social{
    @apply w-4 h-4;
}

/* Product */

.logos--product{
    @apply -mt-32;
}


.logo{
    @apply w-32 h-6;
}

.banner--services{
    @apply py-20 mt-8 -ml-32;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 0px 67px 0px 0px;
}
/* 
.plans{
    @apply grid w-full grid-cols-3 gap-10;
} */

/* REWORKED STYLES */
/* NAVIGATION PRICING.HTML */
.nav{
    @apply px-[4%] py-1 flex items-center justify-between flex-wrap;
}

.nav__list{
    @apply flex items-center gap-x-4;
}

.nav__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

/* HEADER */
.header{
    @apply px-[4%] pt-20 pb-10;
    background-image: radial-gradient(rgb(222, 242, 251), rgb(235, 255, 250), white, white);
}

.header__content{
    @apply flex flex-col items-center space-y-10 text-center;
}

.header__title{
    @apply font-bold text-title leading-[110%];
}

.header__toggled-btns{
    @apply px-1 py-1 rounded-xl bg-lightviolet;
}

.header__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

.header__btn--toggle{
    @apply text-primary bg-lightviolet;
}

/* PLANS */
.plans{
    @apply px-[4%] pb-4 grid grid-cols-3 gap-x-12;
    background-image: radial-gradient(rgb(222, 242, 251), white, white, white, white, white, white, rgb(235, 255, 250));
}

.price-card{
    @apply flex flex-col py-8 space-y-3 border border-gray-300 shadow-lg rounded-3xl;
}

.price-card--secondary{
    @apply border-2 border-violet-800 bg-gradient-to-t from-green-100 via-green-50 to-violet-50;
}

.price-card__header{
    @apply flex items-center px-8 py-4 gap-x-4;
}

.price-card__plan-name{
    @apply text-4xl font-bold;
}

.price-card__plan-description{
    @apply text-sm;
}

.price-card__divider{
    @apply w-full h-0.5 bg-gray-100;
}

.price-card__list, .price-card__description, .price-card__price-tag, .price-card__btn-container{
    @apply  px-8;
}

.price-card__list{
    @apply py-4 space-y-6 font-semibold;
}

.price-card__list-item{
    @apply flex items-center gap-x-2;
}

.price-card__description{
    @apply text-sm text-center;
}

.price-card__price-tag{
    @apply py-4 text-center;
}

.price-card__price{
    @apply text-4xl font-bold;
}

.price-card__period{
    @apply text-xs;
}

.price-card__btn-container{
    @apply flex items-center justify-center py-4;
}

.price-card__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

/* FAQs */

.questions{
    @apply px-[4%] py-32;
}

.faq{
    @apply bg-[#F0F2FE] p-[3%] grid md:grid-cols-2 rounded-3xl;
}

.faq-card{
    @apply px-8 py-8 bg-white rounded-3xl;
}

.faq-card__business, .faq-card__subscription, .faq-card__support, .faq-card__credit-card{
    @apply flex items-center justify-between ;
}

.faq__title{
    @apply leading-[120%] font-semibold text-5xl;
}

.faq__header{
    @apply space-y-4;
}

.faq__description{
    @apply text-base;
}

.faq__list{
    @apply space-y-4;
}

.faq-card__subtitle{
    @apply leading-[140%] text-2xl font-bold;
}

/* CTA */
.cta{
    @apply px-[4%] py-32 space-y-5 text-center bg-gradient-to-t from-green-100 via-blue-100;
}

.cta__subtitle{
    @apply text-5xl font-bold;
}

.cta__description{
    @apply text-base;
}

.cta__btn{
    @apply px-10 py-4 text-white bg-primary rounded-xl;
}

